/.git
/.cache
/.idea
/.vscode
.htaccess
.gitconfig
.bash_history
.config/*
config
description
.local/*
.ssh/*
cgi-bin/*

*/vendor
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache

*.zip
*.rar
*.log
*.txt
*.back
*.min.js
*.min.css

bitrix/*
/upload
/nbproject/private/
/nbproject/
/nbproject/private/
/nbproject/
log/

/smarty/
